<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>about</title>
</head>
<body>
<table  border="1" style="border: solid black; padding: 5px">

  <tr>
    <td>Docente</td>
    <td>Periodo </td>
    <td>Horas Docencia </td>
    <td>Horas Planificacion </td>
    <td>Horas Tutorias </td>
    <td>Horas Gestion </td>
  </tr>

  <tr>
    <td>Ing. Juan Carlos Sendon</td>
    <td>2021-1</td>
    <td>18</td>
    <td>6</td>
    <td>4</td>
    <td>12</td>
  </tr>
  
  <tr>
    <td>Ing. John Cevallos Macias</td>
    <td>2021-1</td>
    <td>20</td>
    <td>8</td>
    <td>5</td>
    <td>13</td>
  </tr>

  <tr>
    <td>Ing. Kevin Mero</td>
    <td>2021-1</td>
    <td>18</td>
    <td>6</td>
    <td>4</td>
    <td>12</td>
  </tr>
  
  <tr>
    <td>Ing. Pedro Pepito</td>
    <td>2021-1</td>
    <td>20</td>
    <td>8</td>
    <td>5</td>
    <td>13</td>
  </tr>

  <tr>
    <td>Ing. Roberto Zambrano</td>
    <td>2021-1</td>
    <td>18</td>
    <td>6</td>
    <td>4</td>
    <td>12</td>
  </tr>
  
  <tr>
    <td>Ing. Jose Cevallos</td>
    <td>2021-1</td>
    <td>20</td>
    <td>8</td>
    <td>5</td>
    <td>13</td>
  </tr>

  <tr>
    <td>Ing. Lucas Lopez</td>
    <td>2021-1</td>
    <td>18</td>
    <td>6</td>
    <td>4</td>
    <td>12</td>
  </tr>
  
  <tr>
    <td>Ing. Kerlly Macias</td>
    <td>2021-1</td>
    <td>20</td>
    <td>8</td>
    <td>5</td>
    <td>13</td>
  </tr>

  <tr>
    <td>Ing. Carlos Sendon</td>
    <td>2021-1</td>
    <td>18</td>
    <td>6</td>
    <td>4</td>
    <td>12</td>
  </tr>
  
  <tr>
    <td>Ing. Kelvin Macias</td>
    <td>2021-1</td>
    <td>20</td>
    <td>8</td>
    <td>5</td>
    <td>13</td>
  </tr>

</table>   
</body>
</html>